echo ".terraform/" >> .gitignore
echo "*.tfstate" >> .gitignore
echo "*.tfstate.backup" >> .gitignore
echo "*.lock.hcl" >> .gitignore
echo ".vscode/" >> .gitignore
echo ".DS_Store" >> .gitignore
echo "__pycache__/" >> .gitignore
echo "*.zip" >> .gitignore
".terraform/" 
